IGDB_CLIENT_ID=YOUR_CLIENT_ID
IGDB_CLIENT_SECRET=YOUR_CLIENT_SECRET

DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_DB_USER
DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PORT
DB_PASSWORD=YOUR_DB_PASSWORD

MYSQL_DB_NAME=YOUR_MYSQL_DB_NAME
MYSQL_DB_USER=YOUR_MYSQL_DB_USER
MYSQL_DB_HOST=YOUR_MYSQL_DB_HOST
MYSQL_DB_PORT=YOUR_MYSQL_DB_PORT
MYSQL_DB_PASSWORD=YOUR_MYSQL_DB_PASSWORD